---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: default-pool
  namespace: metallb-system
  annotations:
    kustomize.config.k8s.io/depends-on: metallb
spec:
  addresses:
    - [[ metallb_ip_range ]]
